:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Color */
  --main-txt-cl: #434455;
  --subtitle-cl: #2e2f42;
  --logo-part-cl: #4d5ae5;
  --main-bg-cl: #fff;
  --supporting-bg-cl: #2e2f42;
  --secondary-bg-cl: #f4f4fd;
  --main-header-cl: #fff;
  --accent-txt-cl: #404bbf;
  --secondary-fon-color: #e7e9fc;
  --secondary-icon-color: #31d0aa;
  --gray-icon: #8e8f99;
  --modal-bg-cl: #fcfcfc;

  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  --header-idx: 10;
  --modal-idx: 100;

  --indent-hor: 24px;
  --indent-vert: 72px;
  --items: 1;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-page {
  line-height: calc(16 / 14);
  width: 100%;
  border-bottom: 1px solid var(--secondary-fon-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .head {
    display: flex;
  }
}

.section {
  padding: 96px 0;
  /* padding: 120px 0; */
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  /* Basic styles */
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
  /* max-width: 1158px;
 
  */
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    min-width: none;
    max-width: none;
    max-width: 768px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

/* Header */

@media only screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    margin-right: 120px;
    align-items: baseline;
  }
}

@media only screen and (1158px) {
  .header-nav {
    margin-right: auto;
    align-items: baseline;
  }
}

.mobile-btn {
  display: block;
  cursor: pointer;
  border: none;

  background-color: var(--main-bg-cl);
}

@media only screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.icon-menu {
  width: 32px;
  height: 22px;

  fill: var(--second-color);
}

.link {
  text-decoration: none;
}

.header-nav-menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-nav-menu {
    display: flex;
  }
}

.header-nav-menu .item:not(:last-child) {
  margin-right: 40px;
}

/* Logo */
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: auto;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--logo-part-cl);
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158pxpx) {
  .logo {
    margin-right: 76px;
  }
}

.logo-bottom {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  color: var(--logo-part-cl);
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .logo-bottom {
    text-align: left;
  }
}

.logo-part {
  color: var(--subtitle-cl);
}

.logo-part-bottom {
  display: inline-block;

  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-bg-cl);
}

/* Main content */
.hero {
  padding: 112px 0;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--subtitle-cl);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/Dark-bg@1x.jpg);
}
@media (min-devace-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/Dark-bg@2x.jpg);
  }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/Dark-bgtab@1x.jpg);
  }
}
@media (min-devace-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/Dark-bgtab@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office\ 1desk@1x.jpg);
  }
}

@media (min-devace-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office\ 1desk@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }
}

.team {
  background-color: var(--secondary-bg-cl);
}

.page-bottom {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--supporting-bg-cl);
  color: var(--secondary-bg-cl);
}

@media only screen and (min-width: 1158px) {
  .page-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* Menu */
.unit-menu {
  font-weight: 500;
  line-height: 1.5;
  color: var(--subtitle-cl);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  transition: color var(--anim-fast);
}

.active::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  border-radius: 2px;
  bottom: 0;
  background: var(--accent-txt-cl);
  bottom: -1px;
}

.unit-info {
  display: none;
}

@media only screen and (min-width: 768px) {
  .unit-info {
    display: block;
    font-style: normal;
  }
}

.unit-info-item {
  display: block;
  font-size: 12px;
  line-height: 1.17;

  color: inherit;
  transition: color var(--anim-fast);
}
@media only screen and (min-width: 1158px) {
  .unit-info-item {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.unit-info-item:hover,
.unit-info-item:focus,
.unit-menu:hover,
.unit-menu:focus {
  color: var(--accent-txt-cl);
}

/* Benefits */
.benefit-unit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (min-width: 1158px) {
  .benefit-unit {
    font-weight: 400;
  }
}

/* Buttons */
.main-btn {
  display: block;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--logo-part-cl);
  color: var(--main-bg-cl);

  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--anim-fast);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-btn {
  padding: 8px 16px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--secondary-bg-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-part-cl);
  border: 1px solid var(--secondary-fon-color);
  border-radius: 4px;
  transition: background-color var(--anim-fast), color var(--anim-fast),
    border-color var(--anim-fast), box-shadow var(--anim-fast);
}

@media only screen and (min-width: 768px) {
  .filter-btn {
    padding: 12px 24px;
  }
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  border: 1px solid transparent;
  background-color: var(--accent-txt-cl);
  color: var(--main-bg-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Main content */

.main-header {
  max-width: 320px;
  margin: 0 auto 48px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  color: var(--main-bg-cl);
}

@media only screen and (min-width: 768px) {
  .main-header {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.subtitle {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--subtitle-cl);
}

.benefits-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--subtitle-cl);
}
@media only screen and (min-width: 1158pxx) {
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* Team */

.photo-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--subtitle-cl);
}

.photo-desc-team {
  text-align: center;
  margin-bottom: 8px;
}

/* Footer */
.footer-text {
  margin-left: auto;
  margin-right: auto;
  width: 264px;
  color: #f4f4fd;
}

/* Portfolio */
.portfolio-photo-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-photo-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

/* Overlay */

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  padding: 40px 32px;
  color: var(--secondary-bg-cl);
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  background-color: var(--logo-part-cl);
  transform: translateY(100%);
  transition: transform var(--anim-fast);
}

.portfolio-link:focus .overlay-text,
.portfolio-link:hover .overlay-text {
  transform: translateY(0%);
}

.header-nav-menu.link {
  font-weight: 500;
}
.adr-list {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media only screen and (min-width: 1158px) {
  .adr-list {
    padding: 0;
    display: flex;
    gap: 40px;
    justify-content: center;
  }
}

.adr-item:not(:last-child) {
  margin-bottom: 12px;
}

@media only screen and (min-width: 1158px) {
  .adr-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.benefits-list .item {
  width: 396px;
}

@media only screen and (min-width: 768px) {
  .benefits-list .item {
    width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-list .item {
    width: 264px;
  }
}

.about {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .about {
    display: block;
    padding-bottom: 120px;
  }
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-list .item {
  width: calc((100% - 48px) / 3);
}

.team-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }
}

.team-card {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--primary-text-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-part-cl);
}

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.filter-list {
  margin-bottom: 48px;
  gap: 16px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

@media only screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 64px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .filter-list {
    margin-bottom: 72px;
    justify-content: center;
  }
}

.team-item {
  display: block;
  width: 264px;
  background-color: var(--main-bg-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* @media only screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc(100% / 2 - var(--indent-hor));
  }
}
@media only screen and (min-width: 1200px) {
  .team-item {
    flex-basis: auto;
  }
} */

.porfolio-item {
  flex-basis: calc((100% - 48px * (var(--items) - 1)) / var(--items));
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .porfolio-item {
    flex-basis: calc(100% / 2 - 24px);
  }
}

@media only screen and (min-width: 1158px) {
  .porfolio-item {
    flex-basis: calc(100% / 3 - 24px);
  }
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
/* @media only screen and (min-width: 768px) {
  .works-list {
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .works-list {
    gap: 48px 24px;
  }
} */

.portfolio-item {
  width: 100%;
  max-width: 396px;
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    max-width: 360px;
  }
}

.works-info {
  padding: 32px 16px;
  border: 1px solid var(--secondary-fon-color);
  border-top: none;

  background-color: var(--main-header-cl);
}

.adr-list .item:not(:last-child) {
  margin-right: 40px;
}

.features-box {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 112px;
  background-color: var(--secondary-bg-cl);
  margin-bottom: 8px;
  border-radius: 4px;
}

@media only screen and (min-width: 1158px) {
  .features-box {
    display: flex;
  }
}

/* .socials-item {
  width: 40px;
  height: 40px;
} */

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-part-cl);
  transition: background-color var(--anim-fast);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-txt-cl);
}

.team-social-icon {
  fill: var(--secondary-bg-cl);
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.footer-social {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--main-bg-cl);
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-social {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1128px;

    align-items: baseline;
  }
}

.footer-info {
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-info {
    margin-bottom: 0;
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-info {
    margin-right: 120px;
  }
}

.customers-item-icon {
  fill: currentColor;
  transition: fill var(--anim-fast);
}

.customers-item-icon:hover,
.customers-item-icon:focus {
  fill: currentColor;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray-icon);
  border-radius: 4px;
  color: var(--gray-icon);
  transition: border-color var(--anim-fast), color var(--anim-fast);
}

.customers-item-link:hover,
.customers-item-link:focus {
  border-color: var(--accent-txt-cl);
  color: var(--accent-txt-cl);
}

.customers-subtitle {
  line-height: 1.1;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--subtitle-cl);
}

.footer-socials-link {
  background-color: var(--logo-part-cl);
  transition: background-color var(--anim-fast);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--secondary-icon-color);
}
.footer-social-list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .footer-social-list {
    justify-content: space-between;
  }
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--anim-fast);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
  opacity: 0;
  z-index: var(--modal-idx);
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 392px;

  padding: 72px 16px 24px 16px;
  min-height: 576px;
  border-radius: 4px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;

  transition: transform var(--anim-fast);
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    padding: 72px 25px 24px 23px;
  }
}

@media only screen and (min-width: 1158px) {
  .modal {
    padding: 72px 24px 24px 24px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-fon-color);

  cursor: pointer;
  transition: background-color var(--anim-fast), border var(--anim-fast);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: var(--accent-txt-cl);
  border: none;
}

.modal-close-icon {
  transition: fill var(--anim-fast);
}

.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:hover .modal-close-icon {
  fill: var(--main-bg-cl);
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--subtitle-cl);
}
@media only screen and (max-width: 414px) {
  .modal-title {
    font-size: 13px;
  }
}

.form-label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: calc(14 / 12);
  color: var(--gray-icon);
}

.form-label-comment {
  display: block;
  font-size: 12px;
  margin-bottom: 16px;
  line-height: calc(14 / 12);
  color: var(--gray-icon);
}

.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-field {
  width: 100%;
  height: 40px;
  outline-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 0;
  font-size: 12px;
  transition: outline var(--anim-fast);
  padding-left: 38px;
  cursor: pointer;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  padding: 8px 6px 8px 6px;
  font-size: 12px;
  outline: transparent;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  cursor: pointer;
}

.form-field:focus,
.form-comment:focus {
  outline: 1px solid var(--logo-part-cl);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--subtitle-cl);
  transition: fill var(--anim-fast);
  pointer-events: none;
}

.form-field:hover + .form-icon,
.form-field:focus + .form-icon {
  fill: var(--logo-part-cl);
}

.form-label-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-aggrement-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--gray-icon);
}

.subscription-form-title {
  display: block;
  color: var(--main-bg-cl);
  gap: 16px;
  text-align: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .subscription-form-title {
    text-align: left;
  }
}
.subscription-form-group {
  width: 100%;
  max-width: 398px;
}
@media only screen and (min-width: 768px) {
  .subscription-form-group {
    max-width: none;
    display: flex;
    gap: 24px;
  }
}

.subscription-form-label {
  display: block;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .subscription-form-label {
    margin-bottom: 0;
  }
}

.subscription-form-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--main-bg-cl);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding: 8px 16px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--main-bg-cl);
}

@media only screen and (min-width: 768px) {
  .subscription-form-input {
    width: 264px;
  }
}

.footer-link {
  margin-left: auto;
  margin-right: auto;
  max-width: 208px;
}

@media only screen and (min-width: 768px) {
  .footer-link {
    margin-left: 0;
  }
}

.subscription-form-input::placeholder {
  font-size: 12px;
  line-height: calc(24 / 12);
  display: flex;
  align-items: center;
  color: var(--main-bg-cl);
}

.subscription-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 165px;
  height: 40px;
}

.subscription-form-icon {
  fill: var(--secondary-bg-cl);
}

.form-aggrement {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;
}

.checkbox-link {
  color: var(--logo-part-cl);
}

.icon-checked {
  opacity: 0;
  transition: opacity var(--anim-fast);
}

.icon-unchecked {
  fill: var(--gray-icon);
  opacity: 1;
  transition: opacity var(--anim-fast);
}

.form-check-input:checked + .register-form-icons .icon-checked {
  opacity: 1;
}

.form-check-input:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  min-width: 320px;

  padding: 24px 24px 40px 40px;

  background-color: var(--main-bg-cl);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-close {
  margin: 0 0 32px auto;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-fon-color);

  transition: background-color var(--anim-fast), border var(--anim-fast);
}

.mobile-close:hover,
.mobile-close:focus {
  background-color: var(--accent-txt-cl);
  border: none;
}

.mobile-close:hover .modal-close-icon,
.mobile-close:focus .modal-close-icon {
  fill: var(--main-bg-cl);
}

.mobile-list {
  margin-bottom: auto;
}

.mobile-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-link:hover,
.mobile-link:focus {
  color: var(--logo-part-cl);
}

.mobile-link {
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  color: var(--subtitle-cl);
  transition: color var(--anim-fast);
}

.mobile-adr {
  margin-bottom: 48px;
}

@media only screen and (max-width: 414px) {
  .mobile-link.tel {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2;
  }
}

.mobile-link.small {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.mobile-social-list {
  display: flex;
  gap: 56px;
  justify-content: center;
  width: 100%;
  max-width: 328px;
}

.footer-tablet {
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 552px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-tablet {
    margin-bottom: 0;
    margin-left: 0;
    width: fit-content;
    margin-right: 80px;
  }
}

.subscription-form {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .subscription-form {
    width: 552px;
  }
}

@media only screen and (min-width: 1158px) {
  .subscription-form {
    margin-left: 0;
    margin-right: 0;
    width: 453px;
  }
}

.footer-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  width: 165px;
  height: 40px;

  padding-left: 24px;
  padding-right: 24px;
  align-items: center;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-bg-cl);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  background-color: var(--logo-part-cl);

  transition: background-color var(--anim-fast);
}

@media only screen and (min-width: 768px) {
  .footer-btn {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.active {
  color: var(--accent-txt-cl);
}
